<%= form_for(user) do |f| %>

    <% if check_athourity %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :updated_email %><br/>
            <%= f.text_field :updated_email, autofocus: true %>
          </div>
        </div>
    <% else %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email %><br/>
            <%= f.text_field :email, autofocus: true %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :role %><br/>
        <%= f.select(:role, options_for_select(@int_users_list,user.role)) %>

      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="input-field col s6">
        <%= f.label :last_name %><br/>
        <%= f.text_field :last_name, autofocus: true %>
      </div>
    </div>


    <% if check_athourity %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :updated_phone %><br/>
            <%= f.text_field :updated_phone, autofocus: true %>
          </div>
        </div>
    <% else %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :phone %><br/>
            <%= f.text_field :phone, autofocus: true %>
          </div>
        </div>
    <% end %>


    <div class="row">
      <div class="input-field col s12">
        <%= f.label :street %><br/>
        <%= f.text_field :street, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :city %><br/>
        <%= f.text_field :city, autofocus: true %>
      </div>

      <div class="input-field col s6">
        <%= f.label :state %><br/>
        <%= f.text_field :state, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :country %><br/>
        <%= f.text_field :country, autofocus: true %>
      </div>

      <div class="input-field col s6">
        <%= f.label :zip %><br/>
        <%= f.text_field :zip, autofocus: true %>
      </div>
      <% if current_user.admin? %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :ssn %><br/>
          <%= f.password_field :ssn, autofocus: true %>
        </div>
      </div>
          <%end%>
    </div>
    <%= recaptcha_tags %>
    <div class="btn waves-effect waves-light" type="submit" name="action">
      <%= f.submit 'Update info' %>
    </div>
    <%= link_to 'Destroy', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} if user[:id] %>
<% end %>