<script>
    $(document).ready(function() {
        $('select').material_select();
    });

    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>

<script>
    var onloadCallback = function() {
        // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
        // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
        debugger;
        var recaptcha_elements = $('.recaptcha');
        var widgetId2;
        for(var i=0;i<recaptcha_elements.length;i++){
            widgetId2 = grecaptcha.render(recaptcha_elements[i], {
                'sitekey' : "<%= Recaptcha.configuration.site_key %>"
            });
        }

    };
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

<div class="container">
  <div class="row">
    <div class="col m12 offset-m0">
      <h5 class="black-text">All users Profile</h5>

        <% @users.each do |user| %>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <span> <%= user.first_name %> <%= user.last_name %></span>
                  <span style="margin-left: 25%;"> <%= user.email %> </span>
                </div>
                <div class="collapsible-body"><span> <%= render user %> </span></div>
              </li>
            </ul>
        <% end %>
    </div>
  </div>
</div>

