<script>
    $(document).ready(function () {
        $('select').material_select();


    });

</script>

<script>
    var onloadCallback = function() {
        // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
        // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
        debugger;
        var recaptcha_elements = $('.recaptcha');
        var widgetId2;
        for(var i=0;i<recaptcha_elements.length;i++){
            widgetId2 = grecaptcha.render(recaptcha_elements[i], {
                'sitekey' : "<%= Recaptcha.configuration.site_key %>"
            });
        }

    };
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>


<div class="container">
  <div class="row">
    <div class="col m12 offset-m0">
      <h5 class="black-text">Sign up</h5>

      <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>

                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>


          <div class="row">
            <div class="input-field col s12">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, class: "key" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: "keypswd" %>
              <% if @minimum_password_length %>
                  <span>(<%= @minimum_password_length %> characters minimum) </span>
              <% end %><br/>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "keypswd" %>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s6">
              <%= f.label :role %><br/>
              <%= f.select(:role, options_for_select(@int_users_list, @user.role ))%>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <%= f.label :first_name %><br/>
              <%= f.text_field :first_name, autofocus: true, class: "key" %>
            </div>

            <div class="input-field col s6">
              <%= f.label :last_name %><br/>
              <%= f.text_field :last_name, autofocus: true, class: "key" %>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s6">
              <%= f.label :phone %><br/>
              <%= f.text_field :phone, autofocus: true, class: "key" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.label :street %><br/>
              <%= f.text_field :street, autofocus: true, class: "key" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <%= f.label :city %><br/>
              <%= f.text_field :city, autofocus: true, class: "key" %>
            </div>

            <div class="input-field col s6">
              <%= f.label :state %><br/>
              <%= f.text_field :state, autofocus: true, class: "key" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <%= f.label :country %><br/>
              <%= f.text_field :country, autofocus: true, class: "key" %>
            </div>

            <div class="input-field col s6">
              <%= f.label :zip %><br/>
              <%= f.text_field :zip, autofocus: true, class: "key" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <%= f.label :ssn %><br/>
              <%= f.password_field :ssn, autofocus: true, class: "key" %>
            </div>
          </div>

          <div class="recaptcha"></div>
          <div class="btn waves-effect waves-light" type="submit" name="action">
            <%= f.submit "Sign up" %>
          </div>
      <% end %>

    </div>
  </div>
</div>
