<%= form_with(model: [@account, tran], local: true) do |form| %>
    <% if tran.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tran.errors.count, "error") %> prohibited this tran from being saved:</h2>

          <ul>
            <% tran.errors.full_messages.each do |message| %>
                <ul><%= message %></ul>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :amount %>
      <%= form.text_field :amount, id: :tran_amount %>
    </div>

    <div class="field transType">
      <%= form.label 'Transaction Type' %>
      <%= form.select(:credit, @trans_types, {:include_blank => 'Select a Transaction Type'},:required => true) %>
    </div>

    <div class="field hidden accNum">
      <%= form.label :transfer_account %>
      <%= form.text_field :transfer_account, id: :tran_transfer_account %>
    </div>

    <div class="field hidden routingNum">
      <%= form.label :'Routing Number' %>
      <%= form.text_field :routingNum, id: :routingNum %>
    </div>

    <div class="btn waves-effect waves-light" id="send-otp" type="button" name="action">
      Send OTP
    </div>

    <div class="field">
      <%= form.text_field :transaction_otp, id: :transaction_otp %>
      <%= form.label 'Enter OTP' %>
    </div>

    <div class="btn waves-effect waves-light disabled" type="submit" name="action" id="create_transaction">
      <%= form.submit %>
    </div>
<% end %>
<script>

  <% @account_id = @account[:id] %>
  <% @url = "/accounts/#{@account[:id]}/sendotp" %>

  $('#send-otp').on("click", function () {
      $.ajax({

        type: "POST",
        url:'<%= "#{@url}" %>',
        complete: function() {
        }
      });
  })
  $('#transaction_otp').change(function(){
      $('#create_transaction').removeClass("disabled");
  })
  $('#tran_transfer_account').change(function () {
      if(this.value.length === 16){
          $('.routingNum').removeClass("hidden");
      }
  })
</script>
