<p id="notice"><%= notice %></p>

<h1>Trans</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Credit</th>
      <th>Balance</th>
      <th>User</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trans.each do |tran| %>
      <tr>
        <td><%= tran.amount %></td>
        <td><%= tran.credit %></td>
        <td><%= tran.balance %></td>
        <td><%= tran.user_id %></td>
        <td><%= tran.account_id %></td>
        <td><%= link_to 'Show', tran %></td>
        <td><%= link_to 'Edit', edit_tran_path(tran) %></td>
        <td><%= link_to 'Destroy', tran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tran', new_account_tran_path(@account) %>

