<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<div style="width: 100%;overflow:auto;">

  <div style="float:left; width: 35%">

    <h5>Update Transactions</h5>
    <% @trans.each do |tran| %>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              <span>Account number: <%= Account.find_by_id(tran.account_id)[:accnumber] %> </span>
              <span style="margin-left: 30px;">Amount: <%= tran.amount %> </span>
            </div>
            <div class="collapsible-body">
              <span> <%= render tran, account: Account.find_by(id: tran.account_id) %> </span>
            </div>
          </li>
        </ul>
    <% end %>
  </div>

  <div style="width: 35%; float:left; margin-left:4.25%;">

    <h5>Update Users</h5>
    <% @user.each do |updateuser| %>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              <span>User Name:
                <%= updateuser.first_name %>
                <%= updateuser.last_name %>
              </span>

            </div>
            <div class="collapsible-body">
              <span>Update email: <%= updateuser.updated_email %> </span>
              <span style="float:right;">Update phone:<%= updateuser.updated_phone %></span>
              <span> <%= render 'updateuser', updateuser: updateuser %> </span>
            </div>
          </li>
        </ul>
    <% end %>
  </div>

  <div style="float:right; width: 20%">
    <table class="highlight">
      <thead>
      <tr>
        <th> Manage users</th>
      </tr>
      </thead>

      <tbody>
      <% @user.each do |user| %>
          <tr>
            <td> <%= link_to "#{user.email}", user_accounts_path(user.id) %> </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>

