<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<div style="width: 100%;overflow:auto;">

  <div style="float:left; width: 40%">
    <h5>Update Transactions</h5>
    <% @trans.each do |tran| %>
        <table>
          <tbody>
          <tr>
            <td><%= Account.find_by_id(tran.account_id)[:accnumber
] %></td>
            <td><%= tran.amount %></td>
            <td><%= render tran, account: Account.find_by(id: tran.account_id) %></td>
          </tr>
          </tbody>
        </table>
    <% end %>
  </div>

  <div style="width: 40%;overflow:auto;">
    <h5>Update Users</h5>
    <% @user.each do |updateuser| %>
        <tr>
          <td><%= updateuser.updated_email %></td>
          <td><%= updateuser.updated_phone %></td>
          <td><%= render 'updateuser', updateuser: updateuser %></td>
        </tr>
    <% end %>
  </div>

  <div style="float:right; width: 20%">
    <table class="highlight">
      <thead>
      <tr>
        <th> Manage users</th>
      </tr>
      </thead>

      <tbody>
      <% @user.each do |user| %>
          <tr>
            <td> <%= link_to "#{user.email}", user_accounts_path(user.id) %> </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>

