<%= form_with(model: [@user, account], local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :acctype %>
    <%= form.text_field :acctype, id: :account_acctype %>
  </div>

  <div class="field">
    <%= form.label :accnumber %>
    <%= form.text_field :accnumber, id: :account_accnumber %>
  </div>

  <div class="field">
    <%= form.label :accrouting %>
    <%= form.text_field :accrouting, id: :account_accrouting %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :account_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
