<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col m12 offset-m0">
      <h5 class="black-text">Accounts</h5>

      <table class="highlight">
        <thead>
        <tr>
          <th>Acctype</th>
          <th>Accnumber</th>
          <th>Accrouting</th>
          <th>User</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @accounts.each do |account| %>
            <tr>
              <td><%= account.acctype %></td>
              <td><%= account.accnumber %></td>
              <td><%= account.accrouting %></td>
              <td><%= account.user_id %></td>
              <td> <button class="waves-effect waves-light btn"> <%= link_to 'Account transactions', user_account_url(@user, account) %> </button> </td>
              <!--<td><%= link_to 'Edit', edit_user_account_path(@user, account) %></td>-->
              <!--<td><%= link_to 'Destroy', user_account_url(@user, account), method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>
      <% if @current_user && (@current_user.role == 'tier1' || @current_user.role== 'tier2' || @current_user.role== 'admin') %>
        <button class="waves-effect waves-light btn" <%= @acc_counter==0 ? 'disabled' : '' %>> <%= link_to 'Create New Account', new_user_account_path(@user) %> </button>
      <% end %>
    </div>
  </div>
</div>

