<p id="notice"><%= notice %></p>

<p>
  <strong>Acctype:</strong>
  <%= @account.acctype %>
</p>

<p>
  <strong>Accnumber:</strong>
  <%= @account.accnumber %>
</p>

<p>
  <strong>Accrouting:</strong>
  <%= @account.accrouting %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<%= link_to 'Edit', edit_user_account_path(@user, @account) %> |
<%= link_to 'Back', user_accounts_path %>
<%= link_to 'New Transaction', new_account_tran_path(@account) %>

<div>
  My transactions starts here
</div>

<table>
  <tr>
    <th>Amount</th>
    <th>credit</th>
    <th>Balance</th>
    <th>Tran ID</th>
    <th>Account ID</th>
  </tr>
    <% @trans.each do |tran| %>
      <tr>
        <td><%= tran.amount %></td>
        <td><%= tran.credit %></td>
        <td><%= tran.balance %></td>
        <td><%= tran.id %></td>
        <td><%= tran.account_id %></td>
        <td><%= link_to 'Destroy - Not working', user_account_path(@user, @account), method: :delete, data: { confirm: 'Are you sure?' } %></td>


      </tr>
    <% end %>

</table>



